/* -------------------------------- 
Primary style
-------------------------------- */

*, *::after, *::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  color: #c7c7c7;
  text-decoration: none;
}



.phone {
  color: #c7c7c7;
  /* margin-top: 5px; */
}
.phone a:hover {
  color: #e3b015;
  /* margin-top: 5px; */
}

/* company name */
.phoenix  {
  text-align: center;
  padding-top: 200px;
}

.phoenix h1, h2 {
  font-weight: bold;
  color:#c7c7c7;
  margin: 0px;
}

/* ------------ */

#about-button {
  background-color: #ba0c2f;
  border-color: #ba0c2f;
  margin-top: 50px;
}

/* -------------------------------- 
Alternate Fixed & Scroll Backgrounds
-------------------------------- */

.cd-main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background:	#ba0c2f;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 3;
}

.cd-main-header:after {
  /* clearfix */
  content: "";
  display: table;
  clear: both;
}

.cd-main-header__logo {
  float: left;
  margin: 13px 0 0 5%;
}

.cd-main-header__logo img {
  display: block;
}

@media only screen and (min-width: 768px) {
  .cd-main-header {
    height: 70px;
  }
  .cd-main-header__logo {
    margin: 5px 0 0 5%;
  }
}

.cd-main-nav {
  float: right;
  margin-right: 5%;
  width: 44px;
  height: 100%;
  background: url("../img/cd-icon-menu.svg") no-repeat center center;
  background-size: 44px 44px;
  cursor: pointer;
}

.cd-main-nav__list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}

.cd-main-nav__list.cd-main-nav__list--is-visible {
  -webkit-transform: translateY(50px);
  -ms-transform: translateY(50px);
  transform: translateY(50px);
}

.cd-main-nav__list a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 5%;
  background: #2f292a;
  border-top: 1px solid #453c3d;
  color: #8e7d7f;
}

@media only screen and (min-width: 768px) {
  .cd-main-nav {
    /* reset style */
    width: auto;
    height: auto;
    background: none;
    cursor: auto;
  }
  .cd-main-nav__list {
    /* reset style */
    position: static;
    width: auto;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    line-height: 70px;
  }
  .cd-main-nav__list.cd-main-nav__list--is-visible {
    /* reset style */
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  .cd-main-nav__list li {
    display: inline-block;
    margin-left: 1em;
  }
  .cd-main-nav__list a {
    display: inline-block;
    height: auto;
    line-height: normal;
    background: transparent;
    padding: .6em 1em;
    border-top: none;
    color: #c7c7c7;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.4rem;
  }
  .cd-main-nav__list a:hover {
    color: #e3b015;
  }
}

.cd-fixed-bg {
  position: relative;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
}



.cd-fixed-bg h1, .cd-fixed-bg h2 {
  /* text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  color: #2a3740;
  padding-bottom: 30px; */
}

.cd-fixed-bg.cd-fixed-bg--1 {
  background-image: url("../img/frank-mckenna-252014-unsplash.jpg");
}


.cd-fixed-bg.cd-fixed-bg--2 {
  background-image: url("../img/vanveenjf-1136697-unsplash.jpg");
}

.cd-fixed-bg cd-fixed-bg--2 {

}

/* .cd-fixed-bg.cd-fixed-bg--3 {
  background-image: url("../img/cd-background-3.jpg");
}

.cd-fixed-bg.cd-fixed-bg--4 {
  background-image: url("../img/cd-background-4.jpg");
} */

@media only screen and (min-width: 768px) {
  .cd-fixed-bg h1, .cd-fixed-bg h2 {
    font-size: 3.6rem;
  }
}


.container {
    width: 1092px;
}

@import url(https://fonts.googleapis.com/css?family=Anton);
@media only screen and (min-width: 1170px) {
  .cd-fixed-bg h1 {
    font-size: 100px;
    font-weight: 500;
  }
  @supports (background-attachment: fixed) {
    /* fix bug on IE11 and below */
    .cd-fixed-bg {
      background-attachment: fixed;
    }
  }
}

.cd-scrolling-bg {
  position: relative;
  min-height: 100%;
  line-height: 1.6;
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.cd-scrolling-bg.cd-scrolling-bg--color-1 {
  background-color: #3d3536;
  color: #a6989a;
}

.cd-scrolling-bg.cd-scrolling-bg--color-2 {
  height: 800px;
  background-color: #d4d5d5;
  color: #3d3536;
}

.cd-scrolling-bg.cd-scrolling-bg--color-3 {
  background-color: #595a5c;
  color: #3d3536;
}

.cd-scrolling-bg__content {
  width: 90%;
  max-width: 1700px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .cd-scrolling-bg {
    padding: 8em 0;
    font-size: 2rem;
    line-height: 2;
    font-weight: 300;
  }
}

/* -------------------------------------------smooth scroll------------------------------------ */






/*------------------------------------------------- portfolio ---------------------------------------*/

.overlay-container {
  position: absolute;
  top: 200px;
  left: 10%;
  width: 80%;
}

/* -------------------About Section-------------------------------------------------------------------- */
.about-text {
  padding-top: 40px;
  padding-left: 80px;
  padding-right: 80px;
}
.about-text h1 {
  color: #2f292a;
  font-size: 36px;
  font-weight: bold;
}

.about-text h2 {
  color: #2f292a;
  font-size: 24px;
  font-weight: bolder;
}

/* -------------------Pricing Section----------------------------------------------------- */
.pricing-text {
  background: rgba(0, 0, 0, 0.8);
  padding: 80px;
}
.pricing-text h1 {
  color: white;
  font-size: 36px;
}

.pricing-text h2 {
  font-size: 24px;
  color: white;
  font-weight: inherit;

}

/* ----------------------------------contact page---------------------------------- */

.contact-header {
  text-align: center;
}



